body {
    background-color: black; /* uncomment to this to debug in browser */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.mouse {
    display: inline-block;
    margin: 10px;
    color: white;
}

div.mouse > object {
    width: 220px;
}

div.numbers {
    display: flex;
}

.number {
    flex: 1 1 0;
    margin: 0 4px;
    border: 1px solid white; 
    text-align:center;
    font-size: 14pt;
    border-radius: 4px;
    transform: skewX(-15deg);
}
